@media (max-width: 992px) {
    /*.navbar-nav > li > a {
        border: 0px solid !important
    }*/

    .Layout_a_noborder {
        border: 0px solid !important
    }
}

@media (max-width: 1044px) {
    .Layout_span_diplaynone {
        display: none
    }
}

/* _Layout.cshtml dropdown hover效果 */
.navbar-nav li:hover > .dropdown-menu {
    display: block;
}

.width5 {
    width: 5%;
}

.width7dot5 {
    width: 7.5%;
}

.width10 {
    width: 10%;
}

.width12dot5 {
    width: 12.5%;
}

.width15 {
    width: 15%;
}

.width17dot5 {
    width: 17.5%;
}

.width20 {
    width: 20%;
}

.width25 {
    width: 25%;
}
