@media (max-width: 992px) {
    /*.navbar-nav > li > a {
        border: 0px solid !important
    }*/

    .Layout_a_noborder {
        border: 0px solid !important
    }
}

@media (max-width: 1044px) {
    .Layout_span_diplaynone {
        display: none
    }
}

/* _Layout.cshtml dropdown hover效果 */
.navbar-nav li:hover > .dropdown-menu {
    display: block;
}
