@{
    
}

<div class="row p-3">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="h2">HeisenbergHsueh作品集網站-網站介紹</div>
        <hr />
        <div class="h4">駐廠人員建案系統</div>
        <ul>
            可使用下列帳號瀏覽網頁功能
            <li>帳號 : User、密碼 : 123456</li>
        </ul>
        <div class="h2">連接SQL server</div>
        <hr />
        <div class="h2">CRUD、分頁、檔案上傳</div>
        <hr />
    </div>
    <div class="col-3"></div>
</div>
