@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Images/Capoo_Hi.jpg" style="width: 500px; height: 500px;"/>
    <h1 class="display-4">Welcome to <br /> HeisenbergHsueh portfolio</h1>
</div>
