@{
    
}

<div class="row p-3">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="h2">HeisenbergHsueh作品集網站</div>
        <hr />
        <div class="h4 font-weight-bold">登入系統</div>
        <ul>
            如不方便註冊，可使用下列帳號瀏覽網頁功能，謝謝
            <li>帳號 : User、密碼 : 123456</li>
            <li>帳號 : Admin、密碼 : Admin</li>
        </ul>
        <div class="h4 font-weight-bold">架構說明 : <a asp-controller="LoginSystem" asp-action="Index">請點此</a></div>
        <hr />
        <div class="h4 font-weight-bold">駐廠人員建案系統</div>
        <ul>
            請使用下列帳號登入進行瀏覽，謝謝
            <li>帳號 : User、密碼 : 123456</li>
            <li>帳號 : Admin、密碼 : Admin</li>
        </ul>
        <div class="h4 font-weight-bold">架構說明 : <a asp-controller="JobRecordSystem" asp-action="Index">請點此</a></div>
        <hr />
        <div class="h4 font-weight-bold">python工具開發-偵測防毒伺服器運行狀態</div>
        <div class="h4 font-weight-bold">架構說明(GitHub連結) : <a href="https://github.com/HeisenbergHsueh/Python_AUCheck">請點此</a></div>
    </div>
    <div class="col-3"></div>
</div>
