@{
    
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1 class="mt-3">隱私權&聲明</h1>
        <hr />
        <div class="h5">1.此網站的模板是採用自Bootstrap 4團隊所提供的example teamplate修改而成。Bootstrap 4原始模板網址 : <a href="https://getbootstrap.com/docs/4.6/examples/">請點此</a></div>
        <div class="h5">2.H icon依照CC創作原則，必須清楚註明引用出處。出處 : <a href="https://commons.wikimedia.org/wiki/File:Font_Awesome_5_solid_h-square.svg">請點此</a></div>
        <div class="h5 text-center"><a asp-controller="Home" asp-action="Profile">回到個人頁面</a></div>
    </div>
    <div class="col-3"></div>
</div>


