
@{
    ViewData["Title"] = "IT_could_be_browser_Page";
}

<h1 class="text-danger">此頁面使用原則授權(policy authorization)</h1>
<h1 class="text-danger">Policy name : IsIT</h1>
<h1 class="text-danger">授權說明 : 只有符合 IsIT 這個原則的登入帳號，才可以瀏覽此頁面</h1>
<h1 class="text-danger">IsIT原則說明 : 登入帳號必須含有IT這個角色，才可以瀏覽此頁面</h1>


