@{
    ViewData["Title"] = "LoginSystemDisplayMessagePage";
}

<h1 class="text-danger text-center">@ViewData["Message"]</h1>

<h1 class="text-center">會員註冊成功，請至註冊時所填的信箱收取驗證信進行驗證</h1>

<h2 class="text-center">歡迎加入HeisenbergHsueh Portfolio的會員</h2>

<hr />



