
@{
    ViewData["Title"] = "MultipleRolePage";
}

<h1 class="text-danger">具有User、Administrator這兩個角色中的其中之一的登入帳號，都可看到此頁面</h1>

<img src="~/Images/Capoo_Go.png" style="width: 300px; height: 300px;" />

