@model Portfolio.Models.LoginSystem.RegisterViewModel

@{
    ViewData["Title"] = "Registration";
}

<h1 class="text-center">Registration</h1>

<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserAccount" class="control-label"></label>
                <input asp-for="UserAccount" class="form-control" />
                <span id="CheckUserNameMessage"></span>
                <span asp-validation-for="UserAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label"></label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComfirmUserPassword" class="control-label"></label>
                <input asp-for="ComfirmUserPassword" class="form-control" />
                <span asp-validation-for="ComfirmUserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Index" class="btn btn-success">Back to index</a>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script>
    $('#UserAccount').focusout(function () {
        var GetUserName = $('#UserAccount').val();
        var message = $('#CheckUserNameMessage');

        $.ajax({
            type: 'POST',
            url: "@Url.Action("CheckUserNameAvaiable")",
            data: { name: GetUserName },
            dataType: "json",
            success: function (msg) {
                if (msg) {
                    message.css('color', 'red');
                    message.html('<br />User account already exist.<br />')
                } else {
                    message.css('color', 'green');
                    message.html('<br />User account could be use.<br />')
                }
            },
            error: function (req, status, error) {
                message.css('color', 'red');
                message.html('<br />post error.<br />')
            }

        });
    });
</script>