@{

}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Heisenberg Hsueh">
    <title>Heisenberg Hsueh Blog</title>

    <link rel="icon" type="image/x-icon" href="~/Images/H_icon.jpg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="~/css/Profile_styles.css" asp-append-version="true">
    @RenderSection("CSS", required: false)
</head>
<body id="page-top">
    @RenderBody()

    <footer class="blog-footer">
        <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@@mdo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
    <!-- Core theme JS-->
    <script src="~/js/Profile_scripts.js" asp-append-version="true"></script>
</body>
</html>
